.oas_box_count_h {
  padding: 2px 0;
}

.oas_box_count_h .oas_btn {
  margin-right: 10px;
  float: left;
}

.oas_box_count_h .oas_btn .oas_btn_brd {
  display: inline-block;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  padding: 2px;
  background: -moz-linear-gradient(center top, #fff, #fff, #ddd) repeat scroll 0 0 transparent;
  float: left;
  margin-right: 3px;
}

.oas_box_count_h .oas_btn .oas_btn_brd .oas_btn_ico {
  width: 16px;
  height: 16px;
}

.oas_box_count_h .oas_btn .oas_btn_brd .oas_btn_txt {
  line-height: 16px;
  float: left;
  width: auto;
  padding: 0 3px;
  margin-left: 2px;
}

.oas_box_count_h .oas_btn .oas_btn_count {
  background: url("/img/api/socialize/sharing/arrow_r2l.png") no-repeat scroll 0 50% transparent;
  padding-left: 3px;
  float: left;
  line-height: 16px;
}

.oas_box_count_h .oas_btn .oas_btn_count .oas_btn_count_txt {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 3px 0 4px;
  background-color: #fff;
  position: relative;
  z-index: -1;
}

.oas_box_count_h .oas_btn_facebook .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/facebook.png");
}

.oas_box_count_h .oas_btn_twitter .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/twitter.png");
}

.oas_box_count_h .oas_btn_linkedin .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/linkedin.png");
}

.oas_box_count_h .oas_btn_google_bookmarks .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/google.png");
}

.oas_box_count_h .oas_btn_delicious .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/delicious.png");
}

.oas_box_count_h .oas_btn_digg .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/digg.png");
}

.oas_box_count_h .oas_btn_stumbleupon .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/stumbleupon.png");
}

.oas_box_count_h .oas_btn_reddit .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/reddit.png");
}

.oas_box_count_h .oas_btn_tumblr .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/tumblr.png");
}

.oas_box_count_h .oas_btn_vkontakte .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/vkontakte.png");
}

.oas_box_count_h .oas_btn_pinterest .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/pinterest.png");
}

.oas_box_count_h .oas_btn_email .oas_btn_ico {
  background-image: url("/img/api/socialize/sharing/16px/email.png");
}